<form [formGroup]="movieSearchForm" (submit)="findMovie()">
  <fieldset>
    <legend>Ieškokite Filmo</legend>
    <div>
      <label for="filmo-pavadinimas">Pavadinimas: </label>
      <input
        type="text"
        id="filmo-pavadinimas"
        placeholder="Titanic"
        formControlName="title"
      />
      <div
        *ngIf="movieSearchForm.controls.title.errors?.['required']"
        class="error-message"
      >
        Pavadinimas privalomas
      </div>
    </div>
    <div>
      <label for="filmo-metai">Metai: </label>
      <input
        type="number"
        id="filmo-metai"
        placeholder="1997"
        formControlName="year"
      />
    </div>
  </fieldset>
  <button type="submit">Ieškoti filmo</button>
  <button type="reset">Perkrauti formą</button>
</form>
<div
  class="movie"
  *ngFor="let movie of movies$ | async"
  class="movie-container"
  (click)="navigateToMovie(movie.id)"
>
  <span class="movie-image">
    <img
      width="200"
      height="300"
      src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}"
    />
  </span>
  <span class="movie-info">
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.overview }}</p>
  </span>
</div>
